{
	"classification": "testdata/5d9168429842207eb17ec5ea/classification.mat",
	"tracts": "testdata/5d9168429842207eb17ec5ea/tracts",
	"surfaces": "testdata/5d9168429842207eb17ec5ea/surfaces",
	".classification": "testdata/classifiber/classification.mat",
	".tracts": "testdata/classifiber/tracts",
	".surfaces": "testdata/classifiber/surfaces",
	".classification": "testdata/sophia/classification.mat",
	".tracts": "testdata/sophia/tracts",
	".surfaces": "testdata/sophia/surfaces",
	".classification": "testdata/master/classification.mat",
	".tracts": "testdata/master/tracts",
	".surfaces": "testdata/master/surfaces",
	".classification": "testdata/hdf5/classification.mat",
	".tracts": "testdata/hdf5/tracts",
	".surfaces": "testdata/hdf5/surfaces"
}
